/**
 * GLOBAL VARIABLES
 *
 * All variables should probably go here.
 */

/*-------------------------------------
	= PATHS
--------------------------------------*/

// Build
$path--build:   '../../build/node_modules/';

// Image
$path--img:		'../images/';

// Typography
$path--fonts: 		'../fonts/';


/*-------------------------------------
	= TYPOGRAPHY
--------------------------------------*/

/* = FONT STACKS
---------------------*/

/* = THEME USES
---------------------*/
// $f-style--serif:		
// $f-style--sans:			
// $f-style--base: 	
// $f-style--accent:
$iconfont: '';



/*-------------------------------------
	= COLORS
--------------------------------------*/

/* = COLOR NAMES
---------------------*/


/* = THEME USES
---------------------*/


/*-------------------------------------
	= SPACING
--------------------------------------*/
// $max-width:
// $col-padding:
// $headerheight--small:
// $headerheight--med:
// $headerheight--large:

/*-------------------------------------
	= MISC
--------------------------------------*/
// $main-transition:
// $main-radius:


/*-------------------------------------
	= PAGES
--------------------------------------*/
